$white: #fff;
$black: #000;
$lightBlue: #428bca;
$darkBlue: #357ebd;
$pink: #ff8383;
$olive: #e3efe4;
$grayIsh: #777;
$green: #00ff00;
$darkerGreen: #009900;
$indigoBlue: #0000ff;
$oceanBlue: #0077ff;