.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;

    .page-item {
        &.disabled {
            .page-link {
                pointer-events: none;
                color: $grayIsh;
                background-color: $white;
            }
        }

        .page-link {
            display: block;
            padding: 0.5rem 1rem;
            background: $white;
            color: $black;
            border: 1px solid linear-gradient(to right, $green, $indigoBlue);
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $darkerGreen;
            }

            &.active {
                background-color: $oceanBlue;
                border-color: $oceanBlue;
            }
        }
    }
}