@import '../variables.scss';

.btn {
    color: $white;
    background-color: $lightBlue;
    border-color: $darkBlue;
    outline: none;
    transition: all 300ms;
    animation-timing-function: ease-in-out;
    &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 4px 4px 4px gray;
    }
    &:focus, :focus-visible {
        border: $white;
    }
}

.btn.large {
	padding:20px 30px;
	font-size:22px;
}